
body {
    margin: 0px;
    background-color: #040D12;
}
h1 {
    background-color: #183D3D;
    color: wheat;
    text-align: center;
    margin: 0%;
    padding: 15px;
}
p {
    text-align: center;
    color: beige;
}